#site-header .progress {
  position: relative;
}
.progress .progress-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.progress .progress-bars {
  --progress-height: 80px;
  --left-bar: 40%%;
  height: var(--progress-height);
  background: url(/src/assets/images/progress-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.progress-bars .bar {
  height: calc(var(--progress-height) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 72%;
  color: #fff;
  text-transform: uppercase;
}

.bar>div {
  width: var(--left-bar);
  display: flex;
  gap: 0px 17px;
  justify-content: space-between;
}
.bar>.right {
  width: calc(100% - var(--left-bar));
}

.bar .bar-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bar .bar-texts>span {
  display: block;
}

@media screen and (min-width: 950px) {
  .progress .progress-bars {
    --progress-height: 120px;
    --left-bar: 26%;
    background-size: contain;
  }
  .progress-bars .bar {
    font-size: 70%;
    padding: 0 5px;
  }
  .bar>div {
    width: var(--left-bar);
  }
  .bar>.right {
    width: var(--left-bar);
  }
}